// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Cantarell:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100italic,200italic,300italic,400italic,500italic,600italic,700italic,100,200,300,400,500,600,700);

// Font Variables
$cantarell: 'Cantarell', serif;
$montserrat: 'Montserrat', serif;

body {
  font-family: $montserrat !important;
}
