.scroll-bound{

    height: 200vh; 

    .ipv-animation {
        /*position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);*/
        background: #e6e6e6;
        max-width: 100vw;
        max-height: 100vh;
        position: sticky;
		top:0;
	} 

}