.menu-container {
  pointer-events: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100000;
  background-color: #eeeeee;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0 64px;
  justify-content: space-between;
  overflow: auto;
  @extend %gutter;

  .menu-logo {
    display: block;
    margin: 0 auto 25px;
    transition: all 0.5s ease-in-out;

    &:not(:hover) {
      opacity: 0.7;
      filter: saturate(0);
    }
  }

  .menu-wrap {
    flex-grow: 1;
    display: flex;
    align-items: center;

    .menu-menu-container {
      position: relative;
      top: -15px;
    }
  }

  .menu-text {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.492308px;
    text-align: center;
    text-transform: uppercase;
    color: #a6a6a6;
  }

  .menu-menu-container > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 44px;
      font-weight: 200;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      padding: 22px;

      a {
        text-decoration: none;
        transition: all 0.5s ease-in-out;

        &:hover {
          color: #000;
        }
      }
    }

    @media only screen and (max-width: 400px), (max-height: 640px)  {
      li {
        padding-top: 14px;
        padding-bottom: 14px;
      }
    }
  }

  a {
    color: #040404;
  }

  .social-links {
    display: flex;
    justify-content: center;

    a {
      padding: 8px;
    }

    @media only screen and (max-width: 600px) {
      margin-bottom: 60px;
    }

    @media only screen and (max-width: 400px) {
      margin-bottom: 45px;
    }
  }

  .menu-close {
    position: absolute;
    right: 45px;
    top: 39px;
    cursor: pointer;

    @media only screen and (max-width: 600px) {
      width: 30px;
    }
  }

  @media only screen and (max-width: 600px) {
    padding-top: 60px;
    padding-bottom: 0;
  }
}

body.menu-open {
  .menu-container {
    opacity: 1;
    pointer-events: all;
  }
}

body.menu-open {
  overflow: hidden;
}

// Fancypants hover effect from https://tympanus.net/Development/CreativeLinkEffects/#cl-effect-5
/* Effect 5: same word slide in */
.cl-effect-5 a {
  display: block;
	overflow: hidden;
	height: 1em;
}

.cl-effect-5 a span {
	position: relative;
	display: inline-block;
	transition: transform 0.3s;
}

.cl-effect-5 a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	transform: translate3d(0,0,0);
  color: $orange;
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
	transform: translateY(-100%);
}
