.page {
  color: #414142;
  .container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 20px 20px 0 20px;
    width: 100%;
    .heading {
      font-size: 62px;
      font-weight: bold;
      line-height: 76px;
      margin: auto;
      max-width: $content-width;
      text-transform: uppercase;
      height: 100vh;
      display: flex;
      align-items: center;
    }
    .group-heading {
      font-size: 48px;
      font-weight: bold;
      margin: auto;
      max-width: $content-width;
      text-transform: uppercase;
      width: 100%;
    }
    .divider {
      width: 100%;
      height: 1px;
      background-color: #f6f6f8;
      margin-left: -20px;
      margin-right: -20px;
    }
    .subheading {
      font-size: 43px;
      margin: auto;
      max-width: $content-width;
    }
    .heading-2 {
      font-size: 44px;
      font-weight: bold;
      margin: auto;
      max-width: $content-width;
      text-transform: uppercase;
    }
    .subheading-2 {
      font-size: 31px;
      margin: auto;
      max-width: $content-width;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.8064516129032258;
    }
    .capabilities-wrapper {
      background-color: #eeeeee;
      margin-top: 166px;
      margin-left: -20px;
      margin-right: -20px;
      padding: 20px;
      .capabilities-section {
        margin: auto;
        margin-bottom: 169px;
        margin-top: 169px;
        max-width: $content-width;
        .title {
          color: #d0d0d0;
          font-size: 40px;
        }
        .capability-title {
          font-size: 23px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.6956521739130435;
          letter-spacing: normal;
          margin-top: 54px;
          text-transform: uppercase;
          color: #555557;
        }
        .capability-description {
          font-size: 19px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.631578947368421;
          letter-spacing: normal;
          margin-top: 9px;
          color: #82828a;
        }
      }
    }
    .clients-section {
      margin: auto;
      max-width: $content-width;
      .title {
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 100px;
        text-transform: uppercase;
      }
      .client-col {
        text-align: center;
        .client {
          margin: 25px;
        }
      }
    }
    .quotes-section {
      margin: auto;
      max-width: $content-width;
      .quote {
        font-size: 29px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6206896551724137;
        letter-spacing: normal;
        color: #82828a;
      }
      .name {
        font-size: 23px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6956521739130435;
        letter-spacing: normal;
        margin-top: 32px;
        color: #555557;
      }
      .company-name {
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.6;
        letter-spacing: 4.6875px;
        color: #adadad;
      }
    }
    .work-with-us-wrapper {
      margin-top: 271px;
      height: 100vh;
      padding: 20px;
      margin-left: -20px;
      margin-right: -20px;
      background-color: #414142;
      display: flex;
      align-items: center;
      .work-with-us-section {
        margin: auto;
        max-width: $content-width;
        .title {
          font-size: 62px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #656568;
          text-transform: uppercase;
          margin-bottom: 78px;
        }
        .label-wrapper {
          display: flex;
          align-items: center;
          .label {
            font-size: 19px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            margin-right: 13px;
            text-transform: uppercase;
          }
        }
      }
    }
    .projects-section {
      .row-wrapper {
        margin: auto;
        max-width: $content-width;
      }
      .project-wrapper {
        margin-bottom: 98px;
      }
      .project {
        cursor: pointer;
        text-decoration: none !important;
        .project-image {
          background-color: #535353;
          background-size: cover;
          background-position: center center;
          opacity: 1;
          position: relative;
          transition: opacity 0.5s;
          &::before {
            content: ' ';
            display: block;
            padding-top: 100%;
          }
        }
        .project-subheading {
          font-family: $montserrat;
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #a0a0a0;
          text-transform: uppercase;
          margin-top: 29px;
        }
        .project-title {
          color: #636363;
          font-family: $montserrat;
          font-size: 28px;
          font-weight: bold;
          transition: color 0.5s;
          text-transform: uppercase;
        }
        .project-description {
          color: #82828a;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.5;
          margin-top: 9px;
        }
        &.supertiny {
          display: block;
          margin-bottom: 50px;
          .project-image {
            height: 222px;
          }
          .project-subheading {
            color: #82828a;
            font-size: 19px;
            font-weight: 400;
            line-height: 29px;
            margin-top: 23px;
            text-transform: none;
          }
        }
        &.tiny {
          .project-image {
            height: 257px;
          }
          .project-subheading {
            color: #82828a;
            font-size: 19px;
            font-weight: 400;
            line-height: 29px;
            margin-top: 23px;
            text-transform: none;
          }
        }
        &.short {
          .project-image {
            height: 308px;
          }
          .project-subheading {
            margin-top: 27px;
          }
        }
        &.normal {
          .project-image {
            height: 338px;
          }
          .project-subheading {
            margin-top: 25px;
          }
        }
        &.tall {
          .project-image {
            height: 358px;
          }
          .project-subheading {
            margin-top: 23px;
          }
        }
        &:hover {
          .project-image {
            opacity: 0.7;
          }
          .project-title {
            color: orangered;
          }
        }
        &.full-width {
          margin-left: -20px;
          margin-right: -20px;
          .project-image {
            width: 100%;
            height: 400px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
          }
          .project-subheading {
            margin: auto;
            margin-top: 29px;
            width: calc(100% - 40px);
            max-width: $content-width;
          }
          .project-title {
            margin: auto;
            width: calc(100% - 40px);
            max-width: $content-width;
          }
        }
      }
    }
  }
}
