.project-page {
  .elementor-container {
    margin: auto;
    max-width: calc(100% - 40px) !important;
    width: $content-width;
  }
  .full-width {
    max-width: 100vw !important;
    width: 100vw;
  }
  .container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 20px 20px 0 20px;
    width: 100%;
    .heading {
      font-size: 52px;
      font-weight: bold;
      line-height: normal;
      margin: auto;
      max-width: 100%;
      text-transform: uppercase;
      letter-spacing: -0.8387097px;
      width: $content-width;
    }
  }
  .project-image {
    background-size: cover;
    width: 100%;
    &::before {
      content: ' ';
      padding-top: 70%;
      display: block;
    }
  }
  .elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
    padding: 0;
  }
}
