.animate-in__fadeUp {
  opacity: 0;
  transform: translateY(60px) scale(.97);
  transition: opacity 0.5s, transform 0.5s;
  &.active {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.active {
  .animate-in__fadeUp {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}
