.footer {
  align-items: center;
  background-color: #f6f6f8;
  display: flex;
  flex-direction: column;
  padding: 0 20px 76px;
  width: 100%;
  .label {
    color: #82828a;
    font-family: $montserrat;
    font-size: 28px;
    margin-top: 105px;
  }
  .input-group {
    width: 100%;
    max-width: 478px;
    .big-input {
      margin-top: 41px;
      position: relative;
      width: 100%;
      input {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #d9d9e3;
        color: #93939d;
        font-size: 23px;
        width: 100%;
        padding: 14px 50px 14px 18px;
        &::placeholder {
          color: #c3c3cb;
        }
      }
      .right-arrow {
        position: absolute;
        right: 14px;
        top: 15px;
      }
    }
  }
  .footer-logo {
    margin-top: 223px;
  }
}

.right-arrow {
  width: 32px;
  height: auto;
  object-fit: contain;
}
